@charset "UTF-8";

body{
    background-color: rgb(254, 255, 221);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    h1{
        color: rgb(77, 67, 48);
        font-size: 1.2em;
    }
    h2{
        color: rgb(110, 97, 70);
        font-size: 1.0em;
    }
    p{
        color: rgb(110, 97, 70);
        text-align: justify;
        font-size: 0.8em;
    }