@charset "UTF-8";

/* Configurações Gerais */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html, body{
    width: 100vw;
    height: 100vh;
    background-color: gainsboro;
}

h1{
    color: white;
    font: normal bolder 5em Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    color: white;
    text-align: justify;
}

/* Configurações Retrado */

@media screen and (orientation: portrait) {
    body{
        background: black url(../image/cev-portrait.jpg) bottom center no-repeat fixed;
        background-size: cover;
    } 
}

/* Configurações Paisagem */

@media screen and (orientation: landscape) {
    body{
        background: gray url(../image/cev-landscape.jpg) left bottom no-repeat fixed;
        background-size: cover;
    } 
}