@media screen and (max-width: 734px){
    
    header > h1, div{
        margin: 15px 20px;
    }

    header > div{
        margin: 35px 20px;
    }

}

@media screen and (max-width: 635px){
    
    header{
        padding: 0px;
    }

    header > h1, div{
        margin: 15px 20px;
    }

    header h1{
        font-size: 3rem;
    }

    #burguer{
        display: block;
        margin: 15px 35px
    }

    #menux{
        display: none;
    }

    #option{
        display: none;
    }

}

@media screen and (max-width: 495px){

    header{
        flex-flow: column nowrap;
    }

    #option{
        flex-flow: column nowrap;
    }

    #option button{
        margin: 25px 0px;
    }

}