@charset "UTF-8";

header{
    background-color: var(--cor1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

header h1, div{
    margin: 0px 20px;
}

header h1{
    color: var(--cor3);
    text-shadow: 2px 2px 2.5px rgba(0, 0, 0, 0.39);
    font: bolder normal 4.8rem var(--font-titulo);
}

#burguer{
    background: none;
    display: none;
}

#burguer i{
    color: var(--cor3);
    font-weight: 700;
    font-size: 1.8em;
}

#option{
    display: flex;
    flex-flow: row nowrap;
}

#option button{
    color: var(--cor1);
    margin: 0px 10px;
    flex: 1 1 100px;
    padding: 5px;
    border-radius: 8px 0px;
    background-color: var(--cor3);
    font: bold normal 1em var(--font-padrao);
    box-shadow: 5px 4px 0px var(--cor4);
    transition: 0.2s;
}

#option button:hover{
    color: var(--cor3);
    background-color: var(--cor4);
    box-shadow: 5px 4px 0px var(--cor3);
}

main{
    background-color: var(--cor2);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
}

main > section{
    background-color: var(--cor3);
    flex: 0 1 800px;
    padding: 50px;
}

section h1{
    color: var(--cor4);
    font: bold normal 2em var(--font-padrao);
    margin-bottom: 25px;
}

section p{
    color: var(--cor4);
    text-indent: 15px;
    font: normal normal 1em var(--font-padrao);
    margin-bottom: 10px;
}